[Unit]
Description=Thermal Printer Web Service
After=network.target

[Service]
WorkingDirectory=/home/pi/thermal_printer_web
ExecStart=/home/pi/thermal_printer_web/venv/bin/python3 app.py
Restart=always
Environment=FLASK_ENV=production

[Install]
WantedBy=multi-user.target